.servicio1{
    width: 40%;
    display: grid;
    margin: 0% 50% 50px 50px ;
    padding: 100px 50px 100px 50px;
    border: solid 3px;
    background-color: #a18488;
    justify-items: center;
}.servicio2{
    width: 40%;
    display: grid;
    margin: 0% 50px 50px 50%;
    padding: 100px 50px 100px 50px;
    border: solid 3px;
    background-color: #a18488;
    justify-items: center;
}.servicio3{
    width: 40%;
    display: grid;
    margin: 0% 50% 50px 50px ;
    padding: 100px 50px 100px 50px;
    border: solid 3px;
    background-color: #a18488;
    justify-items: center;
}.servicio4{
    width: 40%;
    display: grid;
    margin: 0% 50px 50px 50%;
    padding: 100px 50px 100px 50px;
    border: solid 3px;
    background-color: #a18488;
    justify-items: center;
}