@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');
@import "navbar";
@import "servicios";
*{
    margin:0;
    padding:0;
}
h1{
    color: white;
    display: flex;
}
body{
    font-family: 'asul',sans-serif;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/Fondo.png),-webkit-linear-gradient(90deg, hsla(352, 84%, 30%, 1) 0%, hsla(350, 98%, 36%, 1) 30%, hsla(350, 98%, 39%, 1) 62%, hsla(350, 98%, 48%, 1) 89%);
    background-image: url(../img/Fondo.png),-moz-linear-gradient(90deg, hsla(352, 84%, 30%, 1) 0%, hsla(350, 98%, 36%, 1) 30%, hsla(350, 98%, 39%, 1) 62%, hsla(350, 98%, 48%, 1) 89%);
    background-image: url(../img/Fondo.png),linear-gradient(90deg, hsla(352, 84%, 30%, 1) 0%, hsla(350, 98%, 36%, 1) 30%, hsla(350, 98%, 39%, 1) 62%, hsla(350, 98%, 48%, 1) 89%);
    background-blend-mode: overlay;
    height: 100vh;
    background-color: #161A1D;
}
.logos{
    display: grid;
    max-width: 80%;
    grid-template-columns: 10%10%10%10%10%10%10%10%10%10%;
    margin-left: 10%;
    margin-right: 10%;
}
.clases{
    transition: 1.5s;
}
.clases:hover{
    transform: rotate(360deg);
}

/*
separar bien elementos del header asi queda mas ordenado y prolijo clase 4 min 48
aplicar padding-border-margin a "p" a "img" y a "footer"
*/
.Nosotros{
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
}
.Staff{
    display: flex;
    justify-content: space-evenly;
}

fieldset{
    padding: 30px;
}
a{
    color: white;
    text-decoration:none;
}
footer{
    background-color: #2E2E2E;
}
@media (max-width:768px){ 
    ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    .ApVuelta{
        position: unset;
    }
}

/*

.ApVuelta p{
    color:blueviolet !important;
} 
el important hace que se "fije" esa caracteristica sin importar lo que pase despues con esa class, osea, no deja que se sobreescriba eso
*/
